.name_project {
  //  position: absolute;
  //  width: 345px;
  //  height: 55px;
  //  left: 70px;
  //  top: -69px;
  //
  // font-family: Inter, serif;
  // font-style: normal;
  // font-weight: 400;
  font-size: 64px;
  line-height: 40px;
  //
  color: #28B3C6;
}

//
//.telephone_number {
//  position: absolute;
//  width: 130px;
//  height: 34px;
//  left: 395px;
//  top: 9px;
//
//  font-family: Inter, serif;
//  font-style: normal;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 17px;
//
//  color: #000000;
//}
//
//.email {
//  position: absolute;
//  width: 101px;
//  height: 17px;
//  left: 395px;
//  top: 29px;
//
//  font-family: Inter, serif;
//  font-style: normal;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 17px;
//}
//
//.address {
//  position: absolute;
//  width: 215px;
//  height: 17px;
//  left: 588px;
//  top: 7px;
//
//  font-family: Inter, serif;
//  font-style: normal;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 17px;
//
//  color: #000000;
//}
//
//.work_time {
//  position: absolute;
//  width: 336px;
//  height: 38px;
//  left: 588px;
//  top: 28px;
//
//  font-family: Inter, serif;
//  font-style: normal;
//  font-weight: 400;
//  font-size: 16px;
//  line-height: 19px;

//  color: #000000;
//}

.container_header {
  display: flex;
  flex-direction: row;


}

.item1 {
  display: flex;

}

.enter_or_registration {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


}

//.enter {


//position: absolute;
//width: 39px;
//height: 19px;
//left: 1190px;
//top: 21px;
//
//font-family: Inter, serif;
//font-style: normal;
//font-weight: 400;
//font-size: 16px;
//line-height: 19px;
//
//color: #000000;
//}

//.or\(\|\) {


//position: absolute;
//width: 6px;
//height: 19px;
//left: 1233px;
//top: 20px;
//
//font-family: Inter, serif;
//font-style: normal;
//font-weight: 400;
//font-size: 16px;
//line-height: 19px;
//
//color: #000000;
//}

//.registration {


//position: absolute;
//width: 102px;
//height: 19px;
//left: 1243px;
//top: 21px;
//
//font-family: Inter, serif;
//font-style: normal;
//font-weight: 400;
//font-size: 16px;
//line-height: 19px;
//
//color: #000000;
//}

