<body>

  <div class="container_header">
    <div class="name_project">arenda.ru</div>

    <div class="tel_number_and_email">
      <p class="telephone_number">8-8462-265-65-33</p>
      <p class="email">info@arenda.ru</p>
    </div>

    <div class="address_and_work_time">
      <p class="address">Самара, Московское шоссе, 18</p>
      <p class="work_time">Режим работы: ежедневно с 9:00 до 18:00</p>
    </div>

    <div class="enter_or_registration">
      <div><p class="enter">Вход</p></div>
      <div><p class="or(|)">|</p></div>
      <div><p class="registration">Регистрация</p></div>
    </div>

  </div>
</body>
